<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ÄlyTalo Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>

        body, h1, p {
            font-family: Lucida Console;
        }

        .tausta {
            background-image: url("../../Images/space-3197611_1280.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

    </style>
</head>



<body class="tausta">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("My ÄlyTalo Application", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Etusivu", "Index", "Home")</li>
                    <li>@Html.ActionLink("Valot", "Index", "Valot")</li>
                    <li>@Html.ActionLink("Sauna", "Index", "Sauna")</li>
                    <li>@Html.ActionLink("Lämmitys", "Index", "Lampotila")</li>
                    <li>@Html.ActionLink("Hallinta", "Index", "Hallinta")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
       
        <footer style="text-align:right;">
            <p>&copy; @DateTime.Now.Year - My ÄlyTalo Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
